<form [formGroup]="captchaForm" (ngSubmit)="onSubmit()" class="form-container">
  <span class="form-item">
    <label>Name:</label>
    <input type="text" formControlName="name">
  </span>
  <span class="form-item">
    <label>Has Cyrillic:</label>
    <input type="checkbox" formControlName="hasCyrillic">
  </span >
  <span class="form-item">
    <label>Has Latin:</label>
    <input type="checkbox" formControlName="hasLatin">
  </span>
  <span class="form-item">
    <label>Has Numeric:</label>
    <input type="checkbox" formControlName="hasNumeric">
  </span>
  <span class="form-item">
    <label>Has Special Symbols:</label>
    <input type="checkbox" formControlName="hasSpecialSymbols">
  </span>
  <span class="form-item">
    <label>Is Case Sensitive:</label>
    <input type="checkbox" formControlName="isCaseSensitive">
  </span>
  <span class="form-item">
    <label>Has Answer:</label>
    <input type="checkbox" formControlName="hasAnswer">
  </span>
  <span class="form-item">
    <label>Archive:</label>
    <input type="file" formControlName="archive" (change)="onFileChange($event)">
  </span>
  <span>
    <button type="submit" >Submit</button>
  </span>
</form>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Creation Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let captcha of captchas; index as i">
    <th>{{captcha.name}}</th>
    <td>{{ captcha.creationDate| date:'shortDate'  }}</td>
  </tr>
  </tbody>
</table>
<app-toasts></app-toasts>
